.navbar {
  background-color: #FFCC00;
  color: #000000;
}
.historyNavbar {
  background-color: #FFFFFF;
  color: #000000;
}
.button {
  border: 1px solid #000000;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.content {
  margin-left: 5%;
  margin-right: 5%;
  font-family: '微软雅黑';
}
.inline {
  width: 80px!important;
  margin: 9px 9px 9px 0;
}
.flexItem {
  border: 1px solid #000000;
  width: 75px;
  margin: 5%;
  font-size: 15px;
  line-height: 72px;
  height: 75px;
  border-radius: 37.5px;
}
.loading {
  margin-left: 50%;
  margin-top: 50%;
}
.cardContent {
  margin-top: 10px;
}
